{% extends "base.html" %}
{% block title %}Importer{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/importer.css') }}">
{% endblock %}

{% block main %}
<div class="mise-en-page">
    <section>
        <h2 class="text-center mb-4">Importer un fichier CSV</h2>
        
        <form action="{{ url_for('importer') }}" class="dropzone" id="myDropzone" method="post" enctype="multipart/form-data">
             <div class="dz-message" data-dz-message>
                <span>Déposez votre fichier CSV ici ou cliquez pour choisir</span>
            </div>
        </form>

        <div class="button-container">
            <button type="button" id="reset_btn">Supprimer le fichier</button>
        </div>

        <div class="text-center mt-4">
            <a href="{{ url_for('configuration') }}" class="btn-valider">Valider</a>
        </div>
    </section>
</div>

{{ dropzone.load_js() }}
{{ dropzone.config() }}

<script>
    document.getElementById("reset_btn").addEventListener("click", function() {
        var dz = Dropzone.forElement("#myDropzone");
        if (dz) { dz.removeAllFiles(true); }
    });
</script>
{% endblock %}