{% extends "base.html" %} 
{% block title %}Test{% endblock %} 

{% block main %}
<link rel="stylesheet" href="../static/css/style.css" />

<div class="top_row">
  <header class="header_score">
    <div class="dashboard-container">
      <h1 class="main-title">score</h1>
      <section class="stats-row">
        <div class="stat-item">
          <span class="stat-label">Respect des critères</span>
          <span class="stat-value">{{ score }}%</span>
          <div class="progress-bar">
            <div class="fill green" style="width: {{ score }}%"></div>
          </div>
        </div>
        <div class="stat-item">
          <span class="stat-label">élèves placés</span>
          <span class="stat-value">{{ place }}</span>
          <div class="progress-bar">
            <div class="fill blue" style="width: {{ prc_place }}%"></div>
          </div>
        </div>
      </section>
    </div>
  </header>

  <section class="empty_space">
    <h1>dico importance</h1> 
  </section>
</div>

<main class="main_repartition">
  <section id="eleves_classes">
    <h1>Élèves classés</h1>
    {% for i in range(groupes|length - 1) %}
    <article>
      <details open>
        <summary>
          <h2>Groupe {{ i + 1 }}</h2>
          <span class="count">{{ nb_eleve_groupe[i] }} élèves</span>
        </summary>
        
        <details open>
          <summary class="test">
             <h2>voir configuration Groupe {{ i + 1 }}</h2>
              <button class="supprimer_critere" aria-label="Supprimer">
                ajouter critere
              </button>
          </summary>
          <table class="table-criteres">
            <thead>
              <tr>
                <th>Critère</th>
                <th>Condition</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for jj in liste_critere %} 
                {% if jj.groupe == i+1 %}
                <tr>
                  <td>{{jj.nom_critere}}</td>
                  <td>{{jj.condition}}</td>
                  <td>
                    <button class="supprimer_critere" aria-label="Supprimer">
                      ×
                    </button>
                  </td>
                </tr>
                {% endif %} 
              {% endfor %}
            </tbody>
          </table>
        </details>
        
        <table class="liste-eleves" data-group="{{ i + 1 }}-classe">
          <thead>
            <tr>
              <th class="effacer">Num</th>
              <th>Prénom</th>
              <th>Nom</th>
              {% for chiffre in liste_critere_base %}
              <td>{{ chiffre }}</td>
              {% endfor %}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for eleve in groupes[i] %}
            <tr draggable="true" class="eleve">
              <td class="effacer">{{ eleve.num }}</td>
              <td>{{ eleve.prenom }}</td>
              <td>{{ eleve.nom }}</td>
              {% for critere_nom in liste_critere_base %}
              <td>{{ eleve.critere[critere_nom] }}</td>
              {% endfor %}
              <td class="actions">
                <button class="btn-loupe" aria-label="Rechercher">loupe</button>
                <button class="supprimer" aria-label="Supprimer">×</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </details>
    </article>
    {% endfor %}
  </section>

  <section id="eleves_restants">
    <h1>Élèves restants</h1>
    <article>
      <details open>
        <summary>
            <h2>Élèves non classés</h2>
            <span class="count">{{ nb_eleve_groupe[-1] }} élèves</span>
        </summary>
        <table class="liste-eleves" data-group="restants">
          <thead>
            <tr>
              <th class="effacer">Num</th>
              <th>Prénom</th>
              <th>Nom</th>
              {% for chiffre in liste_critere_base %}
              <td>{{ chiffre }}</td>
              {% endfor %}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for eleve in groupes[-1] %}
            <tr draggable="true" class="eleve">
              <td class="effacer">{{ eleve.num }}</td>
              <td>{{ eleve.prenom }}</td>
              <td>{{ eleve.nom }}</td>
              {% for critere_nom in liste_critere_base %}
              <td>{{ eleve.critere[critere_nom] }}</td>
              {% endfor %}
              <td class="actions">
                <button class="btn-loupe" aria-label="Rechercher">loupe</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </details>
    </article>
  </section>
</main>

<footer class="header_score">
  <button id="exporter" aria-label="Rechercher">Exporter</button>
</footer>
<script src="../static/script/repartition.js"></script>
{% endblock %}