{% extends "base.html" %} {% block title %}Test{% endblock %} {% block main %}

<head>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<header class="header_score">
  <section>
    <h1>score</h1>
  </section>
  <section class="score">
    <article>
      <h1>graph 1</h1>
    </article>
    <article>
      <h1>graph 2</h1>
    </article>
    <article>
      <h1>graph 3</h1>
    </article>
    <article>
      <h1>graph 4</h1>
    </article>
  </section>
</header>

<main class="main_repartition">
  <section id="eleves_classes">
    <h1>Élèves classés</h1>
    {% for i in range(groupes|length - 1) %}
    <article>
      <details open>
        <summary>
          <header>
            <h2>Groupe {{ i + 1 }}</h2>
            <span class="count">{{ nb_eleve_groupe[i] }} élèves</span>
          </header>
        </summary>
        <details open>
          <summary>
            <header>
              <h2>voir configuration Groupe {{ i + 1 }}</h2>
            </header>
          </summary>
          <table class="table-criteres">
            <thead>
              <tr>
                <th>Critère</th>
                <th>Condition</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for jj in liste_critere %} {% if jj.groupe == i+1 %}
              <tr>
                <td>{{jj.nom_critere}}</td>
                <td>{{jj.condition}}</td>
                <td>
                  <button class="supprimer" aria-label="Supprimer">×</button>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
        </details>
        <table class="liste-eleves" data-group="{{ i + 1 }}-classe">
          <thead>
            <tr>
              <th>Num</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for eleve in groupes[i] %}
            <tr draggable="true" class="eleve">
              <td>{{ eleve.num }}</td>
              <td>{{ eleve.prenom }}</td>
              <td>{{ eleve.nom }}</td>
              <td class="actions">
                <button class="btn-loupe" aria-label="Rechercher">🔍</button>
                <button class="supprimer" aria-label="Supprimer">×</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </details>
    </article>
    {% endfor %}
  </section>

  <section id="eleves_restants">
    <h1>Élèves restants</h1>
    <article>
      <details open>
        <summary>
          <header>
            <h2>Élèves non classés</h2>
            <span class="count">{{ nb_eleve_groupe[-1] }} élèves</span>
          </header>
        </summary>
        <table class="liste-eleves" data-group="restants">
          <thead>
            <tr>
              <th>Num</th>
              <th>Prénom</th>
              <th>Nom</th>
              {% for chiffre in eleve.critere.keys %}
              <td>{{ chiffre }}</td>
              {% endfor %}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for eleve in groupes[-1] %}
            <tr draggable="true" class="eleve">
              <td>{{ eleve.num }}</td>
              <td>{{ eleve.prenom }}</td>
              <td>{{ eleve.nom }}</td>
              {% for chiffre in eleve.critere.values %}
              <td>{{ chiffre }}</td>
              {% endfor %}
              <td class="actions">
                <button class="btn-loupe" aria-label="Rechercher">🔍</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </details>
    </article>
  </section>
</main>

<script src="../static/script/repartition.js"></script>

{% endblock %}
