h1 {
    color: blueviolet;
}

.main_repartition {
    margin: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-wrap: nowrap;
}

.main_repartition section {
    margin: 20px;
    flex-basis: 30%;
    flex-grow: 1;
    background-color: #96adc9;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main_repartition h2 {
    color: aquamarine;
}

.main_repartition article {
    flex-grow: 1;
    width: 100%;
    background-color: rgb(255, 127, 127);
    margin: 8px;
}

.main_repartition article header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.main_repartition article header h2 {
    margin: 0;
}